body {
  font-family: Arial, Helvetica, sans-serif;
}

.weatherapp {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  padding: 30px;
}

form {
  margin-bottom: 20px;
}

input[type="search"] {
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  border-color: black;
}

input[type="submit"] {
  width: 12%;
  height: 30px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #645d9b;
  background-color: #645d9b;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  color: #645d9b;
}

.row {
  align-items: center;
  justify-content: center;
}

.current {
  color: #a6b1e1;
}
.general {
  text-transform: capitalize;
}

.dayoverview {
  padding: 0;
}

img {
  width: 100px;
}
strong {
  font-size: 40px;
  color: #645d9b;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

.temperature img {
  margin-right: 8px;
}
.temperature strong {
  margin-right: 5px;
}

small .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

small .active:hover {
  text-decoration: none;
}

.forecastimg {
  width: 100px;
}
