.weatherapp {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid;
  border-color: grey;
  border-radius: 10px;
  padding: 50px;
}

.search-button {
  color: cornflowerblue;
}

h1 {
  padding-top: 20px;
}

ul {
  list-style-type: none;
}
.general {
  text-transform: capitalize;
}

.dayoverview {
  padding: 0;
}

img {
  width: 80px;
}
strong {
  font-size: 40px;
}

.temperature img {
  margin-right: 8px;
}
.temperature strong {
  margin-right: 5px;
}
small {
  text-align: center;
  display: block;
}

.temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.temperature .active:hover {
  text-decoration: none;
}
