.weatherapp {
  max-width: 600px;
  margin: 35px auto;
  border: 1px solid;
  border-color: grey;
  border-radius: 10px;
  padding: 50px;
}
ul {
  list-style-type: none;
}
.general {
  text-transform: capitalize;
}

.dayoverview {
  padding: 0;
}
strong {
  font-size: 40px;
}
.temperature img {
  margin-right: 8px;
}
.temperature strong {
  margin-right: 5px;
}
small {
  text-align: center;
  display: block;
}
